.input-container {
    &__control {
        display: block;
        font-size: 12px;

        width: 100%;
        height: 30px;
        padding: 5px;

        outline: none;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: 0.1s border-color, 0.1s border-width;

        box-sizing: border-box;

        &:hover,
        &:active {
            border: 2px solid #34a0fc;
        }

        &--disabled,
        &--disabled:hover,
        &--disabled:active {
            color: rgb(179, 179, 179);
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: not-allowed;
        }

        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
