.button {
    font-size: 12px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1;
    width: 100%;

    padding: 7px;

    background: #18a0fb;
    color: #fff;

    border: none;
    border-radius: 5px;

    &:focus,
    &:active {
        outline: none;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
    }
}
